{% extends "layout.html" %}
{% block content %}

<!-- Header -->

<section class="section_header_home">
  <br>
  <div class="container">

    <div class="header_home">
      <div class="box"> 
        <h1 style="font-size:55px;"><span class="text-logo"> Home</span></h1>
        <p style="text-align:left;">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat dolores quos asperiores repellendus facilis cum illo aperiam odit doloremque nostrum. Totam excepturi labore voluptatibus iusto sapiente quisquam consectetur optio magnam voluptates omnis vel officia alias distinctio quas laborum reiciendis ratione inventore veniam, cupiditate doloribus dolore, eius natus a. Magni inventore consequuntur voluptas reprehenderit perferendis! Molestias aspernatur rem autem aut temporibus.
        </p>
        <div class="container_buttons_header_home">
          <div class="btn">
            <a href="{{url_for('users.register')}}"> <button class="button" style="vertical-align:middle"><span>Register</span></button></a> 
          </div>
          <div class="btn">
            <a href="{{url_for('users.login')}}">  <button class="button" style="vertical-align:middle"><span>Login </span></button></a> 
          </div>
        </div>  
      </div>
      <div class="box3"> 

        <br>

        <img class="picture_home"
          src="{{url_for('static', filename='icons/Carbon_app_10.svg')}}"    
          height="250px"
          width="350px"
          alt=""/>
      </div>
    </div>

  </div>
</section> 


<!-- Section upcomeing events -->
<div>
  <div class="section_events">
    <div class="container" style="display:block;">
      <br>
      <h1 style="text-align: center; color:#000;"> Events </h1> 
      <p style="text-align: center;">
        Do you want to know more about this app? Meet us at upcoming events! 
      </p>
    </div>
    <br>
    <div class="container" style="display:flex; align-items: start;"> 
      <div class="box4" style="height: 200px; width: 200px;">
        <i class="fa-regular fa-calendar-days" style="font-size: 64px;"></i>
        <h3> Lysdagen - May 2023 </h3>
        <p style="text-align: center;"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, nihil?
        </p>
      </div>
        <div class="box4" style="height: 200px ;width: 200px;">
          <i class="fa-regular fa-calendar-days" style="font-size: 64px;"></i>
          <h3> AWS - 11.05.23 </h3>
          <p style="text-align: center;"> Amazone Web Service - Stockholm
          </p>
        </div>
    </div>
  </div>
</div>
</div>

<!-- Developers -->

<section class="section_developers">
  <br>
  <div class="container">
    <div class="developers" style="display:block;">
     <h1 style="text-align:center; color: #000;"> Developers</h1>
    <p>
      Our team of students of economics has this semester taken the class of Green Digitalization and App Development. The teacher Mario Blázquez de Paz has been teaching the students to develop and deploy their own app in groups. 
The programming languages the students have learned is HTML, CSS, Flask, Python and Chart.js. The students have learn how to deploy the app with GitHub, Heroku and Amazon web Service. 

If you have any questions about the app or the developers, you are welcome to ask questions to the group or contact the members on their LinkedIn profiles. 

    </p>
  </div>

  <br>

  <div class="developers" style="align-items: center;">
    <ol>
    <div class="container_developers">
        <div class="box">
        <img src="/static/Pictures/Oda.jpg" alt="" style="border-radius: 50%; width:200px; height: 200px;">
        <h3> Oda </h3>
        <button onclick="myFunction()" 
        style="
        background-color: #FF7F00;
        border: 2px solid  #FF7F00;   
        padding: 10px 10px;
        margin: 10px 10px 10px 10px;
        color: #FFF;
        border-radius: 5px;
        text-decoration: none;
        font-size: 18px;"> 
        Read more <i class="fa-solid fa-caret-down"></i> </button>

        <p id="demo"></p>
        <script>function myFunction() {
          document.getElementById("demo").innerHTML = "Oda Kalve Strand, 30 years, from Larvik (Norway). She has a bachelor in nursing and is now takeing a Bachelor in Buisness and Administration. This semester she is exicted to take the subject of green digitalisation and app development to try to learn some new skills witch can be helpfull for future stuides and work. ";}</script>
        
        <div class="container_buttons_developers">
          <a class="btn_developers" href="https://no.linkedin.com/in/oda-kalve-strand-40470a216"  target="_blank">LinkedIn <i class="fa-brands fa-linkedin"></i></a>
        </div> 
        </div>

        <div class="box">
          <img src="/static/Pictures/Alex.jpg" alt="" style="border-radius: 50%; width:200px; height: 200px;">
          <h3> Alexander </h3>
          <button onclick="myFunction_1()" 
          style="
          background-color: #FF7F00;
          border: 2px solid  #FF7F00;   
          padding: 10px 10px;
          margin: 10px 10px 10px 10px;
          color: #FFF;
          border-radius: 5px;
          text-decoration: none;
          font-size: 18px;"> 
          Read more <i class="fa-solid fa-caret-down"></i> </button>

          <p id="demo_1"></p>
          <script>function myFunction_1() {
            document.getElementById("demo_1").innerHTML = "Alexander Strøno is a 23-year-old from Oslo who is currently pursuing a Bachelor's degree in Business and Administration at the Western University of Applied Science. Prior to commencing his degree, he possessed experience in coding logical scripts using Python and VBA. The purpose of enrolling in this course was to acquire comprehensive skills and knowledge that would equip him with the ability to further enhance his aptitude on his own. ";}</script>
          
          <div class="container_buttons_developers">
            <a class="btn_developers" href="#"  target="_blank">LinkedIn <i class="fa-brands fa-linkedin"></i></a>
          </div> 
        </div>

        <div class="box">
          <img src="/static/Pictures/Andrei.jpg" alt="" style="border-radius: 50%; width:200px; height: 200px;">
          <h3> Andrei </h3>
          <button onclick="myFunction_3()" 
          style="
          background-color: #FF7F00;
          border: 2px solid  #FF7F00;   
          padding: 10px 10px;
          margin: 10px 10px 10px 10px;
          color: #FFF;
          border-radius: 5px;
          text-decoration: none;
          font-size: 18px;"> 
          Read more <i class="fa-solid fa-caret-down"></i> </button>

          <p id="demo_2"></p>
          <script>function myFunction_3() {
            document.getElementById("demo_2").innerHTML = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis? Odit enim hic atque dolorem iste natus inventore perspiciatis vitae dolore animi veritatis aut nemo unde similique, officia reiciendis ex architecto voluptates soluta ab tempore facilis quisquam cum.";}</script>
          
          <div class="container_buttons_developers">
            <a class="btn_developers" href="#"  target="_blank">LinkedIn <i class="fa-brands fa-linkedin"></i></a>
          </div> 
        </div>   

        <div class="box">
          <img src="/static/Pictures/Andy.jpg" alt="" style="border-radius: 50%; width:200px; height: 200px;">
          <h3> Andy </h3>
          <button onclick="myFunction_4()" 
          style="
          background-color: #FF7F00;
          border: 2px solid  #FF7F00;   
          padding: 10px 10px;
          margin: 10px 10px 10px 10px;
          color: #FFF;
          border-radius: 5px;
          text-decoration: none;
          font-size: 18px;"> 
          Read more <i class="fa-solid fa-caret-down"></i> </button>

          <p id="demo_3"></p>
          <script>function myFunction_4() {
            document.getElementById("demo_3").innerHTML = "Andy Etsiako Ntiamoah, 24 years old from Bergen (Norway). He is currently studying a Bachelor’s degree in Business and Administration at Western Norway University of Applied Sciences on his second year. Previously Andy has taken an IT class in high school and wanted to broaden his knowledge and developing skills. His goal for this class is to acquired new skills and gain an advantage in coding for the future.";}</script>
          
          <div class="container_buttons_developers">
            <a class="btn_developers" href="#"  target="_blank">LinkedIn <i class="fa-brands fa-linkedin"></i></a>
          </div> 
        </div>   

        <div class="box">
          <img src="/static/Pictures/Augus.jpg" alt="" style="border-radius: 50%; width:200px; height: 200px;">
          <h3> Augus </h3>
          <button onclick="myFunction_5()" 
          style="
          background-color: #FF7F00;
          border: 2px solid  #FF7F00;   
          padding: 10px 10px;
          margin: 10px 10px 10px 10px;
          color: #FFF;
          border-radius: 5px;
          text-decoration: none;
          font-size: 18px;"> 
          Read more <i class="fa-solid fa-caret-down"></i> </button>

          <p id="demo_4"></p>
          <script>function myFunction_5() {
            document.getElementById("demo_4").innerHTML = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis? Odit enim hic atque dolorem iste natus inventore perspiciatis vitae dolore animi veritatis aut nemo unde similique, officia reiciendis ex architecto voluptates soluta ab tempore facilis quisquam cum.";}</script>
          
          <div class="container_buttons_developers">
            <a class="btn_developers" href="#"  target="_blank">LinkedIn <i class="fa-brands fa-linkedin"></i></a>
          </div> 
        </div> 
    </div>
    <div class="container_developers">
        <div class="box3">
          <img src="/static/Pictures/Haeun.jpg" alt="" style="border-radius: 50%; width:200px; height: 200px;">
          <h3> Haeun </h3>
          <button onclick="myFunction_6()" 
          style="
          background-color: #FF7F00;
          border: 2px solid  #FF7F00;   
          padding: 10px 10px;
          margin: 10px 10px 10px 10px;
          color: #FFF;
          border-radius: 5px;
          text-decoration: none;
          font-size: 18px;"> 
          Read more <i class="fa-solid fa-caret-down"></i> </button>

          <p id="demo_5"></p>
          <script>function myFunction_6() {
            document.getElementById("demo_5").innerHTML = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis? Odit enim hic atque dolorem iste natus inventore perspiciatis vitae dolore animi veritatis aut nemo unde similique, officia reiciendis ex architecto voluptates soluta ab tempore facilis quisquam cum.";}</script>
          
          <div class="container_buttons_developers">
            <a class="btn_developers" href="#"  target="_blank">LinkedIn <i class="fa-brands fa-linkedin"></i></a>
          </div> 
        </div> 

        <div class="box3">
          <img src="/static/Pictures/Line.jpg" alt="" style="border-radius: 50%; width:200px; height: 200px;">
          <h3> Line </h3>
          <button onclick="myFunction_7()" 
          style="
          background-color: #FF7F00;
          border: 2px solid  #FF7F00;   
          padding: 10px 10px;
          margin: 10px 10px 10px 10px;
          color: #FFF;
          border-radius: 5px;
          text-decoration: none;
          font-size: 18px;"> 
          Read more <i class="fa-solid fa-caret-down"></i> </button>

          <p id="demo_6"></p>
          <script>function myFunction_7() {
            document.getElementById("demo_6").innerHTML = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis? Odit enim hic atque dolorem iste natus inventore perspiciatis vitae dolore animi veritatis aut nemo unde similique, officia reiciendis ex architecto voluptates soluta ab tempore facilis quisquam cum.";}</script>
          
          <div class="container_buttons_developers">
            <a class="btn_developers" href="#"  target="_blank">LinkedIn <i class="fa-brands fa-linkedin"></i></a>
          </div> 
        </div> 

        <div class="box3">
          <img src="/static/Pictures/Mona.jpg" alt="" style="border-radius: 50%; width:200px; height: 200px;">
          <h3> Mona </h3>
          <button onclick="myFunction_8()" 
          style="
          background-color: #FF7F00;
          border: 2px solid  #FF7F00;   
          padding: 10px 10px;
          margin: 10px 10px 10px 10px;
          color: #FFF;
          border-radius: 5px;
          text-decoration: none;
          font-size: 18px;"> 
          Read more <i class="fa-solid fa-caret-down"></i> </button>

          <p id="demo_7"></p>
          <script>function myFunction_8() {
            document.getElementById("demo_7").innerHTML = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis? Odit enim hic atque dolorem iste natus inventore perspiciatis vitae dolore animi veritatis aut nemo unde similique, officia reiciendis ex architecto voluptates soluta ab tempore facilis quisquam cum.";}</script>
          
          <div class="container_buttons_developers">
            <a class="btn_developers" href="#"  target="_blank">LinkedIn <i class="fa-brands fa-linkedin"></i></a>
          </div> 
        </div> 

        <div class="box3">
          <img src="/static/Pictures/Signy.jpg" alt="" style="border-radius: 50%; width:200px; height: 200px;">
          <h3> Signy </h3>
          <button onclick="myFunction_9()" 
          style="
          background-color: #FF7F00;
          border: 2px solid  #FF7F00;   
          padding: 10px 10px;
          margin: 10px 10px 10px 10px;
          color: #FFF;
          border-radius: 5px;
          text-decoration: none;
          font-size: 18px;"> 
          Read more <i class="fa-solid fa-caret-down"></i> </button>

          <p id="demo_8"></p>
          <script>function myFunction_9() {
            document.getElementById("demo_8").innerHTML = "Signy Rut Astvaldsdottir, 24 years from Iceland and Norway. She has a nursing degree from before and is currently studying economics. She has no experience from before, but is excited to learn some basic knowledge in Python, javascript, Github and AWS this semester.";}</script>
          
          <div class="container_buttons_developers">
            <a class="btn_developers" href="#"  target="_blank">LinkedIn <i class="fa-brands fa-linkedin"></i></a>
          </div> 
        </div> 
        <div class="box3">
          <img src="/static/Pictures/Tonje.jpg" alt="" style="border-radius: 50%; width:200px; height: 200px;">
          <h3> Tonje </h3>
          <button onclick="myFunction_10()" 
          style="
          background-color: #FF7F00;
          border: 2px solid  #FF7F00;   
          padding: 10px 10px;
          margin: 10px 10px 10px 10px;
          color: #FFF;
          border-radius: 5px;
          text-decoration: none;
          font-size: 18px;"> 
          Read more <i class="fa-solid fa-caret-down"></i> </button>

          <p id="demo_9"></p>
          <script>function myFunction_10() {
            document.getElementById("demo_9").innerHTML = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis? Odit enim hic atque dolorem iste natus inventore perspiciatis vitae dolore animi veritatis aut nemo unde similique, officia reiciendis ex architecto voluptates soluta ab tempore facilis quisquam cum.";}</script>
          
          <div class="container_buttons_developers">
            <a class="btn_developers" href="#"  target="_blank">LinkedIn <i class="fa-brands fa-linkedin"></i></a>
          </div> 
        </div>      
    </div>
    </ol>
</div>
</div>     
  </div>  
</div>
  </div>
</section>
        
{% endblock content %}
